img {
    max-width: 100%;
}

.weblink_bg {
    background: url('../img/pc1.jpg') no-repeat center top #f2f3f5;
}

.weblink_nav {
    height: 100px;
}


.weblink_left {
    padding-right: 0;

}

.weblink_left .weblink_logo {
    display: block;
    margin-top: 15px;
}

.weblink_left_t {
    margin-top: 49px;
    transform: translateY(-50%);
}

.weblink_right {
    line-height: 100px;
}

.weblink_right a {
    margin-right: 3%;
    color: #fff;
    font-size: 14px;

}

.weblink_right a:last-child {
    margin: 0;
}

.wenlink_top {
    padding-top: 60px;
    height: 535px;
}

.syt {
    color: #dbe6f53b;
    letter-spacing: 5px;
}

.b2b {
    position: relative;
    padding-top: 20px;
}

.b2b::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #fff, #1d283e);
    content: '';
}

.f-32 {
    font-size: 32px;
}

.f-68 {
    font-size: 68px;
}

.red {
    color: #ff3f3f;
}

.wenlink_top_t {
    position: relative;
    padding-top: 10px;
    padding-left: 60px;
}

.wenlink_top_t img {
    top: 0;
    left: 0;
}

.red-btn {
   margin: 15px 0 0 0;
   width: 100%;
   background-color: #ff3f3f;
   color: #fff;
}

.red-btn:hover,
.red-btn:link,
.red-btn:focus,
.blue-btn:hover,
.blue-btn:link,
.blue-btn:focus,
.white-btn:hover,
.white-btn:link,
.white-btn:focus {
    color: #fff;
}

.blue-btn {
    margin: 15px 0 0 0;
    width: 100%;
    background-color: #248ad2;
    color: #fff;
}

.white-btn {
    margin: 20px 10px;
    width: 190px;
    border: 1px solid #fff;
    color: #fff;
}

.wenlink_top_r {
    padding: 20px 30px;
    width: 300px;
    border-radius: 10px;
    background: #fff;
}

.weblink_blue {
    color: #248ad2;
}

.weblink_syt_num_list {
    display: inline-block;
    margin-top: 110px;
    width: 350px;
    font-size: 16px;
}

.weblink_syt_num_list p.orange {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    color: #fe5a48;
    font-size: 18px;
}

.weblink_syt_num_list .orange::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 2px;
    background: #243f7c;
    content: '';
    transform: translateX(-50%);
}

.weblink_syt_num_list .big {
    font-weight: bold;
    font-size: 50px;
}

.consult {
    border: 1px solid #a3ceec;
}

.weblink_lc {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.wenlink_center {
    height: 681px;
    background: url(/static/weblink/img/pc2.jpg) center center no-repeat;
}

.wenlink_vip {
    padding-top: 90px;
    height: 773px;
    background: url(/static/weblink/img/pc3.jpg) center center no-repeat;
}

.wenlink_vip ul li {
    float: left;
    margin-right: 1%;
    margin-bottom: 10px;
    padding: 50px 0;
    width: 19.20%;
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.wenlink_vip ul li:hover {
    background-color: #0f95f3;
}

.wenlink_vip ul li:nth-child(5n) {
    margin-right: 0;
}

.wenlink_what {
    padding-top: 30px;
    color: #223254;
    font-size: 36px;
}

.weblink_title_description {
    position: relative;
    padding-bottom: 30px;
    color: #cad0da;
    font-variant: all-petite-caps;
    font-size: 26px;
    font-family: 'Arial Narrow';
}

.weblink_title_description::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-top-color: #fe6546;
    content: '';
    transform: translate(-50%, 20%);
}

.weblink_syt_logo .tab {
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.weblink_syt_logo .tab>span {
    display: inline-block;
    margin: 0 70px;
    margin-bottom: -2px;
    padding: 15px 0;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.weblink_syt_logo .tab>span.cur {
    border-bottom: 2px solid #fe5b48;
    color: #fe5b48;
}

.weblink_syt_logo .tab-box .box.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

.weblink_syt_logo .tab-box .fluu {
    overflow: hidden;
    margin-top: 15px;
    padding-right: 8px;
    padding-left: 8px;
    min-height: 158px;
}

.weblink_syt_logo .tab-box .fluu a {
    display: block;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 100%;
    border-radius: 5px;
    background: #fff;
    color: #fff;
}

.weblink_syt_logo .tab-box .fluu a:hover {
    background: #273871;
    text-align: left;
}

.weblink_syt_logo .tab-box .fluu a:hover img {
    width: 40%;
    border-radius: 5px;
    background: #fff;
}

.weblink_syt_logo .tab-box .fluu .des {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    text-align: left;
    font-size: 12px;
    opacity: 0;
    transform: translateY(150%);
}

.weblink_syt_logo .tab-box .fluu .img {
    position: relative;
    display: inline-block;
}

.weblink_syt_logo .tab-box .fluu .des h5 {
    margin-bottom: 8px;
    font-size: 16px;
}

.weblink_syt_logo .tab-box .fluu .des .btnz {
    display: inline-block;
    margin-top: 10px;
    padding: 3px 20px;
    border: 0;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgb(255, 146, 63), rgb(254, 90, 72));
    font-size: 16px;
}

.weblink_syt_logo .tab-box .fluu a:hover .des {
    display: block;
    height: auto;
    opacity: 1;
    transform: translateY(0);
}

.weblink_syt_logo .tab-box .box.row .a_imogin .iconfont {
    position: relative;
    display: inline-block;
    color: #e5e5e5;
    font-size: 100px;
    transform: rotate(-90deg);
}

.weblink_syt_logo .tab-box .box.row .a_imogin a,
.weblink_syt_logo .tab-box .box.row .a_imogin a:hover {
    align-items: center;
}
.tab-box>.box {
    display: none;
}
.weblink_syt_kunao {
    height: 569px;
    background: url('../img/syt-img-2.jpg') no-repeat center center;
}
.weblink-syt-solution a {
    position: relative;
    display: inline-block;
    margin: 35px 10px 0 10px;
    background: #fff;
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
}
.weblink-syt-solution a:hover {
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}
.weblink-syt-solution a:hover img {
    position: relative;
    transform: translateY(-20px);
}
.weblink-syt-buop {
    padding-top: 45px;
    height: 860px;
    background: url('../img/syt-img-3.jpg') no-repeat center center;
    color: #fff;

}
.weblink_syt_4 {
    height: 1110px;
    background: url('../img/syt-img-4.jpg') no-repeat center center;
}
.weblink-white .wenlink_what {
    color: #fff;
}
.buop_slide .buop_p {
    margin: 20px 0 0 0;
    color: #00208c;
}
.offline-meeting .editor-box {
    padding: 30px;
}
.weblink-syt-solution a .btns {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: inline-block;
    padding: 8px 5px;
    width: 8em;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgb(255, 146, 63), rgb(254, 90, 72));
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    opacity: 0;
    transform: translateX(-50%);
}
.weblink-syt-solution a:hover .btns {
    opacity: 1;
}
.wenlink_what.white {
    margin-bottom: 50px;
}

.weblink-syt-buop .box {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 1px solid rgba(255, 255, 255, .5);
}
.weblink-syt-buop .box:first-child {
    border-left: 1px solid rgba(255, 255, 255, .5);
}
.weblink-syt-buop .box:hover {
    background: #fe5b48;
}
.weblink-syt-media {
    padding-bottom: 50px;
}
.weblink-syt-media .box{
    margin-top: 30px;
    background: #f2f3f5;
    color: #00208c;
    font-size: 20px;
}
.weblink-syt-media .box p {
    padding: 15px;
}

.wenlink_what.white::after {
    background-color: #fff;
}
.menu_left {
    display: none;
}
.weblink-slide-nav {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 999;
}
.weblink-slide-nav a {
    display: block;
    margin: 5px 0 0;
    padding: 12px 0;
    width: 130px;
    background: #2b4580;
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.weblink-slide-nav a:hover {
    background: #fe5e47;
}

.mar_t100 {
    margin-top: 100px;
}

.weblink_tab {
    border-bottom: 1px solid #eee;
}

.weblink_tab li {
    float: left;
    margin-top: 30px;
    width: 20%;
    cursor: pointer;
}

.weblink_tab.webshow li {
    width: 16.6666666667%;
}

.weblink_tab li span {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 3px solid transparent;
}

.weblink_tab .cur span {
    border-bottom: 3px solid #248ad2;
    color: #248ad2;
}

.weblink_tab_t .weblink_tab_list {
    margin-bottom: 20px;
}

.weblist_info {
    padding: 25px 20px 40px 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}

.weblink_tab_t img {
    vertical-align: middle;
}

.weblink_tab_t .weblink_tab_list:nth-child(odd) {
    padding-right: 10px;
}

.weblink_tab_t .weblink_tab_list:nth-child(even) {
    padding-left: 10px;
}

.weblink_show {
    padding-top: 100px;
    background-color: #f5f5f5;
}

.webshow_text {
    height: 564px;
    background: url(/static/weblink/img/showBg.jpg) center center no-repeat;
}

.weblink_privilege {
    padding-bottom: 50px;
}

.webcore li {
    padding: 0 50px;
    width: 50%;
}

.weblink_core .swiper-button-next,
.weblink_core .swiper-button-prev {
    width: 40px;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);
    background-image: none;
    line-height: 60px;
}

.weblink_case {
    padding: 150px 0;
    height: 750px;
    background: url(/static/weblink/img/pc4.jpg) center center no-repeat;
}

.f-88 {
    font-size: 88px;
}

.f-28 {
    font-size: 28px;
}

.weblink_case_l {
    padding: 30px 15px;
    background-color: rgba(255, 255, 255, .1);
}

.mar_b30 {
    margin-bottom: 30px;
}

.mar_t80 {
    margin-top: 80px;
}

.weblink_case_r {
    border-left: 5px solid transparent;

}

.weblink_case_r ul {
    padding-bottom: 50px;
}

.weblink_case_r li {
    padding: 15px;
    height: 210px;
    background-color: #fff;
    text-align: center;
    line-height: 210px;
    cursor: pointer;
}

.weblink_case_r li img {
    max-width: 100%;
    vertical-align: middle;
}

.weblink_case_r li:hover {
    padding: 20px;
    text-align: left;
    line-height: normal;
}

.weblink_case_r li:hover a {
    display: inline-block;
}

.weblink_case_r li:hover .weblink_case_bottom {
    display: block;
    opacity: 1;
}

.weblink_case_r li:hover img {
    float: left;
    width: 100px;
}

.weblink_case_bottom {
    display: none;
    opacity: 0;
}

.weblink_case_r li:hover img {
    float: left;
    width: 100px;
}

.weblink_case_l a:hover,
.weblink_case_l a:focus,
.weblink_case_l a:link {
    color: #fff;
}

.pad_l30 {
    padding-left: 30px;
}

.weblink_case .swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    background-color: #248ad2;
    color: #fff;
    line-height: 25px;
    opacity: .5;
}

.weblink_case .swiper-pagination-bullet-active {
    width: 50px;
    border-radius: 15px;
    opacity: 1;


}

.weblink_bottom {
    padding-top: 60px;
    height: 250px;
    background: url(/static/weblink/img/pc5.jpg) center center no-repeat;
}

.setp_html_bottom {
    padding: 0 50px;
}

.state_a {
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 47.5%;
    border: 1px solid #eee;
    text-align: center;
}

.state_a:nth-child(odd) {
    margin-right: 2.5%;
}

.state_a:nth-child(even) {
    margin-left: 2.5%;
}

.mar_l5 {
    margin-left: 5px;
}

.setp_html_bottom .btn {
    margin: 10px 0 5px 0;
    width: 250px;
}

.setp_html_bottom .weblink_blue {
    text-decoration: underline;
}

.weblink_qa .btn,
.weblink_case_bottom .btn {
    border: 1px solid #248ad2;
    border-radius: 0;
}

.weblink_top_span>span {
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .2);
}

.weblink_blue_gd {
    position: absolute;
    top: 40%;
    left: 50%;
    border: 1px solid #3779ff;
    transform: translateX(-50%);
}

.webcore_text1 {
    padding-bottom: 30px;
}
/*企业站入驻介绍*/
.enterprise_bg {
    position: relative;
}
.enterprise_bg .weblink_nav {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%);
}

.enterprise-swiper {
    height: 700px;
    background: #5aa9fd;
}
.enterprise-swiper .swiper-slide {
    background-position: center center;
    background-repeat: no-repeat;
}
.enterprise-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: none;
    opacity: 1;
}
.enterprise-swiper .swiper-pagination-bullet-active {
    padding: 0 8px;
    border-radius: 8px;
    background: #fff;
}
.enterprise-swiper .swiper-pagination-bullets{
    bottom: 100px;
}
.enterprise-banner-bottom {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 144px;
    background: url('../img/enterprise-banner-bottom.jpg') no-repeat center center;
}
.enterprise-img-1 {
    position: relative;
    z-index: 3;
    height: 1513px;
    background: url('../img/enterprise-img-1.jpg') no-repeat center center;
}
.enterprise-img-2 {
    padding: 30px 0;
    background: url('../img/enterprise-img-2.jpg') no-repeat top center;
}
.enterprise-img-2 a {
    position: relative;
    float: left;
    margin: -1px -1px 0 0;
    width: 25%;
    border: 1px solid #eee;
    background: #f6f7ff;
    text-align: center;
}
.enterprise-img-2 a:hover {
    z-index: 2;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}
.enterprise-img-3 {
    padding-top:330px;
    padding-bottom: 50px;
    min-height: 1064px;
    background: url('../img/enterprise-img-3.png') no-repeat top center;
}
.enterprise-img-3 .swiper-container {
    padding-bottom: 50px;
}
.enterprise-img-3 .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #567aff;
    color: #fff;
    line-height: 20px;
    opacity: 1;
}
.enterprise-img-3 .swiper-pagination-clickable .swiper-pagination-bullet-active {
    width: 40px;
    border-radius: 20px;
}
.enterprise-img-3 .swiper-slide {
    overflow: hidden;
    text-align: center;
}
.enterprise-img-3 .swiper-slide img {
  display: block;
  margin: 15px;
 border-radius: 10px;
 background: #fff;
 box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.enterprise-img-3 .swiper-slide .text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px 30px 20px;
    width: 100%;
    text-align: left;
}
.enterprise-img-3 .swiper-slide .text h3 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
}
.enterprise-img-3 .swiper-slide .btnss {
    float: right;
    margin-top: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    background-image: linear-gradient(#ffe794, #ff9123);
}
/*企业站入驻介绍 end*/

@media screen and (min-width:1200px) {
    .weblink_right {
        padding-left: 25px;
    }
}

@media screen and (max-width:1200px) {
    .weblink_right a {
        margin-right: 1%;
        font-size: 14px;
    }
}

@media screen and (max-width:1000px) {
    .weblink_right a {
        margin-right: 1%;
        font-size: 12px;
    }
}