@charset "UTF-8";

.blueColor {
    color: #5ABEF7;
}

.h_30 {
    overflow: hidden;
    height: 30px;
}

.f_r {
    float: right;
}

.pad_l0 {
    padding-left: 0;
}

.mar_t05 {
    margin-top: 5px;
}

.mar_r20 {
    margin-right: 20px
}

.pad_b10 {
    padding-bottom: 10px
}

.pad_tb20 {
    padding: 20px 0
}

.mar_t15 {
    margin-top: 15px;
}

.mar_t10 {
    margin-top: 10px;
}

.mar_r10 {
    margin-right: 10px
}

.b {
    font-weight: 600;
}

.video_ul ul li p {
    font-size: 12px;
}

.margintop10 {
    margin-top: 10px;
}

.news_show_list ul li {
    float: left;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px dashed #f1f1f1;
}

.news_show_list ul li>.col-md-2 {
    padding-right: 0;
}

.v_1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    -webkit-line-clamp: 1;
}

.v_2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
}

.v_3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    -webkit-line-clamp: 3;
}

.l_30 {
    margin: 0;
    padding-bottom: 10px;
    line-height: 30px;
}

.new-img-box li {
    margin: 15px 15px 15px 0;
    width: 210px;
}

.news_show_list h3 {
    margin: 8px 0;
    max-height: 60px;
    color: gray;
    font-size: 14px;
    line-height: 1.5;
}

.newindex h2 {
    margin: 0;
    padding: 0 15px;
    background: #f5f5f5;
    font-size: 18px;
    line-height: 40px;
}
.newindex h2 span.b {
    display: inline-block;
    border-bottom: 2px solid #ccc;
}

.newindex .video_industry {
    padding-top: 0;
}

.news_list_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin: 10px 0;
    color: #555;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
}

.margintop40 {
    margin-top: 40px;
}

.main {
    padding-bottom: 0
}

.news_time,
.news_time a {
    color: #666;
}



.video_right_anli_p .news_time a {
    margin-right: 10px;
    width: auto;
}

.video_right_anli {
    padding: 0;
    border: 1px solid #ebebeb;
}

.video_right_title {
    margin-bottom: 0;
    font-size: 18px;
}

.video_right_anli_p {
    box-sizing: border-box;
    padding: 10px 15px;
}

.video_right_anli_p a {
    float: left;
    margin: 5px 0;
    width: 50%;
    color: gray;
    font-size: 14px;
}

.mar_b10 {
    margin-bottom: 10px;
}

.video_right_anli {
    margin-bottom: 15px;
}

.video_industry h1 {
    margin: 0;
    border-bottom: 1px solid #eee;
}

.video_industry h1 strong {
    position: relative;
    display: inline-block;
    float: left;
    margin-bottom: -1px;
    padding: 0 8px 5px 3px;
    border-bottom: 2px solid #248ad2;
    color: #333333;
    font-size: 20px;
    line-height: 32px;
}

.video_industry h1 span {
    padding-left: 8px;
}

.video_ul li h3 {
    padding: 0;

    -webkit-line-clamp: 3;
}

.new-hot-type h2 {
    margin-top: 15px;
    font-size: inherit;
}

.news_show_list ul li img {
    width: 100%;
    border: 1px solid #eee;
}

.news_zx a {
    width: 100%;
}

.mar_t-15 {
    margin-top: -15px;
}

.mar_t30 {
    margin-top: 30px;
}

.tablist_r h2 {
    font-size: 18px;
}

.trend_tab {
    padding: 10px;
}

.trend_tab a {
    display: block;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    color: gray;
    text-align: center;
    font-size: 14px;
}

.questions {
    margin: 10px 0 30px 0;
}

.questions a {
    float: left;
    margin-top: 15px;
    width: 100%;
}

/* 搜索 */

.search {
    position: relative;
    z-index: 1;
}

.search_input input {
    float: left;
    line-height: 36px;
}

.search_input .text {
    box-sizing: border-box;
    padding: 0 15px;
    height: 40px;
    border: 2px solid #248ad2;
    font-size: 12px;
}

.search_input .text:focus {
    box-shadow: inset 0 0 1px #248ad2;
}

.search_input .submit {
    width: 100px;
    height: 40px;
    border: none;
    background: #248ad2;
    color: #fff;
    letter-spacing: 10px;
    font-size: 18px;
    cursor: pointer;
}

.search_kinds {
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}

.search_kinds li {
    float: left;
}

.search_kinds li a {
    position: relative;
    display: block;
    margin-right: 20px;
    padding: 0 15px 0 0;
    color: #333;
    font-size: 16px;
    line-height: 40px;
}

.search_kinds li.cur a {
    font-weight: bold;
}

.search_kinds li.cur a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #248bd2;
    content: "";
}

.search_main {
    padding: 30px 0;
}

.questions_title {
    margin: 15px 0;
}

.questions_title li {
    float: left;
}

.news_show_list .text_title li {
    border: 1px solid #ebebeb
}

.text_questions {
    margin-top: 20px;
    padding: 20px 15px;
    border: 1px solid #ebebeb;
}

.text_questions_title {
    padding-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
    font-weight: bold;
}

.text_questions_text {
    padding: 15px;
}

.questions .list_text {
    float: left;
    padding: 0;
    padding-bottom: 15px;
    border: 1px solid #ebebeb;
}

.text_bottom {
    padding: 15px;
    border: 1px solid #ebebeb;
}

.newindex {
    margin: 20px auto;

}

.news-related a {
    display: block;
}

.news-related {
    padding: 15px;
    width: 100%;
    border: 1px solid #ebebeb;
}

.video_right_anli_p {
    padding: 15px
}

.btn-primary {
    border-color: #2e92da;
    background-color: #248ad2;

}

.news_header {
    text-align: center;
}

.news_header li {
    padding: 0;
    width: 32%;
}

.news_header li:nth-child(1) {
    float: left;
}

.news_header li:nth-child(2) {
    display: inline-block;
}

.news_header li:nth-child(3) {
    float: right;
}

.news_right_list_jiaodian ul li:last-child {
    border: 0
}

.news_right_list_jiaodian ul li {
    position: relative;
    float: left;
    padding: 10px 10px 10px 40px;
    width: 100%;
    border-bottom: 1px solid #eee;

}

.video_right_anli .news_blue {
    display: none;
}

.news_right_list_jiaodian ul li i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 24px;
    border-radius: 0px 10px 10px 0;
    background-color: #99b6d8;
    color: #fff;
    text-align: center;
    font-style: unset;
    font-size: 18px;
    line-height: 24px;
    transform: translateY(-50%);


}

.news_right_list_jiaodian li:nth-child(1) i {
    background-color: #ff1f1f;
}

.news_right_list_jiaodian li:nth-child(2) i {
    background-color: #ff6440;
}

.news_right_list_jiaodian li:nth-child(3) i {
    background-color: #ffb940;
}



@media (max-width:768px) {
    .newindex {
        min-width: auto
    }

    .row {
        margin: 0
    }

    .col-xs-12 {
        padding: 0
    }

    .col-xs-4 {
        padding: 0 5px;
    }

    .new-img-box li {
        margin: 10px 1%;
        width: 48%;
    }

    .video_ul li h3 {
        -webkit-line-clamp: 2;
    }
    .news_show_list  .text_title li{
      padding: 15px;
    }
    
}